<!-- itunes.html -->
<h1>iTunes Button</h1>

<script>
window.ButtonWebConfig = {
  applicationId: 'app-2294a462505cef71',
  defaults: {
    'btn-4e680ef15e505fe9': {
      context: {
        artist: {
          identifiers: {
            itunes: '1419227' // Beyonce
          }
        }
      }
    }
  }
 };
 (function(u,s,e,b,t,n){
   u['__bttnio']=b;u[b]=u[b]||function(){(u[b].q=u[b].q||[]).push(arguments)};t=s.createElement(e);n=s.getElementsByTagName(e)[0];t.async=1;t.src='https://web.btncdn.com/v1/button.js';n.parentNode.insertBefore(t,n)
 })(window, document, 'script', 'bttnio');
 </script>

<div data-bttnio-id="btn-4e680ef15e505fe9"></div>
