<h1>Resy</h1>

<script>
window.ButtonWebConfig = {
  applicationId: 'app-24548843a41b5fad',
  defaults: {
    'btn-7251bf031eafa99a': {
      context: {
        url: "https://foursquare.com/v/i-sodi/49bd2326f964a5204d541fe3"
        // subject_location: {
        //   name: 'I Sodi',
        //   identifiers: {
        //     resy: 443
        //   }
        // }
      }
    }
  }
};

(function(u,s,e,b,t,n){
  u['__bttnio']=b;u[b]=u[b]||function(){(u[b].q=u[b].q||[]).push(arguments)};t=s.createElement(e);n=s.getElementsByTagName(e)[0];t.async=1;t.src='https://web.btncdn.com/v1/button.js';n.parentNode.insertBefore(t,n)
})(window, document, 'script', 'bttnio');
</script>

<div data-bttnio-id="btn-7251bf031eafa99a"></div>
